In [1]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [16]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages. 
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [17]:
df.head(5)

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

In [27]:
#1
# teams=np.unique(df['Team']+df['Against'])
# print(teams)
teams=df['Team'].unique()
on_target_percentage={}

for team in teams:
    total_attempts=df[df['Team']==team]['Total Attempts'].sum()
    total_on_target=df[df['Team']==team]['On Target'].sum()
    on_target_percentage[team]=round(total_on_target/total_attempts*100,2)

In [33]:
print(on_target_percentage)

{'Qatar': 28.57, 'Ecuador': 48.15, 'England': 45.0, 'Iran': 31.43, 'Senegal': 30.77, 'Netherlands': 39.02, 'United States': 31.11, 'Wales': 29.17, 'Argentina': 46.15, 'Saudi Arabia': 31.03, 'Denmark': 30.56, 'Tunisia': 26.67, 'Mexico': 34.88, 'Poland': 25.0, 'France': 34.65, 'Australia': 36.0, 'Morocco': 28.33, 'Croatia': 33.73, 'Germany': 34.33, 'Japan': 30.23, 'Spain': 32.69, 'Costa Rica': 54.55, 'Belgium': 32.35, 'Canada': 17.65, 'Switzerland': 30.56, 'Cameroon': 51.85, 'Uruguay': 31.25, 'Korea Republic': 36.73, 'Portugal': 40.32, 'Ghana': 40.0, 'Brazil': 45.56, 'Serbia': 32.26}

In [39]:
dict(sorted(on_target_percentage.items(),key = lambda x: x[1], reverse=True))

{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.15,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'France': 34.65,
 'Germany': 34.33,
 'Croatia': 33.73,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.33,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams. 

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [45]:
df['Team'].value_counts().rank(method='first')

Morocco           29.0
Croatia           30.0
Argentina         31.0
France            32.0
England           25.0
Brazil            26.0
Netherlands       27.0
Portugal          28.0
Poland            17.0
Japan             18.0
Switzerland       19.0
Australia         20.0
Korea Republic    21.0
United States     22.0
Senegal           23.0
Spain             24.0
Cameroon           1.0
Uruguay            2.0
Belgium            3.0
Ghana              4.0
Canada             5.0
Qatar              6.0
Costa Rica         7.0
Germany            8.0
Ecuador            9.0
Mexico            10.0
Tunisia           11.0
Denmark           12.0
Saudi Arabia      13.0
Wales             14.0
Iran              15.0
Serbia            16.0
Name: Team, dtype: float64

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [52]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB
None

In [53]:
print(df.describe())

           Sl. No   Match No.        Goal  Possession (%)  \
count  128.000000  128.000000  128.000000      128.000000
mean    64.500000   32.500000    1.343750       43.476562
std     37.094474   18.545539    1.342448       11.442403
min      1.000000    1.000000    0.000000       14.000000
25%     32.750000   16.750000    0.000000       35.000000
50%     64.500000   32.500000    1.000000       45.000000
75%     96.250000   48.250000    2.000000       51.000000
max    128.000000   64.000000    7.000000       78.000000

       Inside Penalty Area  Outside Penalty Area     Assists  Total Attempts  \
count           128.000000            128.000000  128.000000      128.000000
mean              1.203125              0.117188    0.914062       11.257812
std               1.324270              0.322907    1.150333        5.406683
min               0.000000              0.000000    0.000000        0.000000
25%               0.000000              0.000000    0.000000        7.750000
50%               1.000000              0.000000    1.000000       10.000000
75%               2.000000              0.000000    1.000000       14.000000
max               7.000000              1.000000    6.000000       32.000000

        On Target  Off Target  Target in Penalty  Target from Outside  \
count  128.000000  128.000000         128.000000           128.000000
mean     4.007812    4.835938           6.914062             4.343750
std      2.588576    2.610630           3.998085             2.733397
min      0.000000    0.000000           0.000000             0.000000
25%      2.000000    3.000000           4.000000             3.000000
50%      4.000000    4.000000           6.000000             4.000000
75%      6.000000    6.000000           9.000000             5.000000
max     13.000000   17.000000          24.000000            15.000000

       Left Channel  Left Inside Channel  Central Channel  \
count    128.000000           128.000000       128.000000
mean      13.562500             4.671875         4.906250
std        6.901729             2.886595         3.080131
min        2.000000             0.000000         0.000000
25%        8.000000             2.000000         3.000000
50%       12.000000             4.500000         4.000000
75%       18.000000             7.000000         6.250000
max       36.000000            13.000000        16.000000

       Right Inside Channel  Right Channel  Receptions MD  Receptions D  \
count            128.000000     128.000000     128.000000    128.000000
mean               4.648438      12.234375      92.703125     12.453125
std                2.936573       6.176517      29.440547     18.152399
min                0.000000       1.000000      32.000000      0.000000
25%                3.000000       8.000000      72.750000      7.000000
50%                4.000000      11.000000      93.000000      9.000000
75%                6.000000      16.250000     111.250000     14.000000
max               19.000000      29.000000     186.000000    192.000000

       Attempted Line Breaks  Completed Line Breaks  \
count             128.000000             128.000000
mean              169.281250             109.476562
std                34.120661              30.776298
min                56.000000              19.000000
25%               149.500000              87.750000
50%               170.500000             106.000000
75%               188.000000             129.000000
max               259.000000             192.000000

       Attempted Defensive Line Breaks  Completed Defensive Line Breaks  \
count                       128.000000                       128.000000
mean                         14.812500                         8.265625
std                           7.230458                         5.101311
min                           1.000000                         0.000000
25%                          10.000000                         5.000000
50%                          15.000000                         8.000000
75%                          20.000000                        11.000000
max                          40.000000                        27.000000

       Yellow Cards   Red Cards  Fouls Against    Offsides       Passes  \
count    128.000000  128.000000     128.000000  128.000000   128.000000
mean       1.726562    0.023438      12.320312    1.976562   502.859375
std        1.514834    0.151883       4.691983    1.731891   160.160487
min        0.000000    0.000000       0.000000    0.000000   225.000000
25%        1.000000    0.000000       9.000000    1.000000   398.250000
50%        2.000000    0.000000      12.000000    2.000000   495.500000
75%        2.000000    0.000000      15.000000    3.000000   589.500000
max        8.000000    1.000000      30.000000   10.000000  1070.000000

       Passes Completed     Crosses  Crosses Completed     Corners  \
count        128.000000  128.000000         128.000000  128.000000
mean         430.929688   19.523438           4.898438    4.468750
std          160.893724    8.596799           3.520111    2.774852
min          156.000000    4.000000           0.000000    0.000000
25%          323.250000   13.000000           3.000000    2.000000
50%          419.000000   19.000000           4.000000    4.000000
75%          519.750000   24.000000           6.000000    6.000000
max          994.000000   53.000000          25.000000   14.000000

       Free Kicks  Penalties Scored         Pts
count  128.000000        128.000000  128.000000
mean    14.250000          0.335938    1.429688
std      4.712189          0.941412    1.389973
min      5.000000          0.000000    0.000000
25%     11.000000          0.000000    0.000000
50%     14.000000          0.000000    1.000000
75%     17.000000          0.000000    3.000000
max     30.000000          5.000000    3.000000

In [54]:
print(df.isna().sum())

Sl. No                             0
Match No.                          0
Team                               0
Against                            0
Group                              0
Goal                               0
Possession (%)                     0
Inside Penalty Area                0
Outside Penalty Area               0
Assists                            0
Total Attempts                     0
On Target                          0
Off Target                         0
Target in Penalty                  0
Target from Outside                0
Left Channel                       0
Left Inside Channel                0
Central Channel                    0
Right Inside Channel               0
Right Channel                      0
Receptions MD                      0
Receptions D                       0
Attempted Line Breaks              0
Completed Line Breaks              0
Attempted Defensive Line Breaks    0
Completed Defensive Line Breaks    0
Yellow Cards                       0
Red Cards                          0
Fouls Against                      0
Offsides                           0
Passes                             0
Passes Completed                   0
Crosses                            0
Crosses Completed                  0
Corners                            0
Free Kicks                         0
Penalties Scored                   0
Pts                                0
dtype: int64

In [55]:
# Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
# Drop all the duplicate rows permanently.
# Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [57]:
df.drop_duplicates(inplace=True)

In [60]:
df.drop(columns=["Sl. No", "Match No.", "Red Cards", "Pts"], inplace=True)

In [61]:
df

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
0,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0
1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1
2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0
3,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,14,2,232,156,11,3,0,10,1
4,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,13,2,391,326,22,8,6,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,11,3,583,518,22,1,3,15,0
124,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,13,2,491,430,21,3,6,13,0
125,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,11,2,494,428,20,5,3,15,0
126,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,26,4,648,544,20,4,6,22,5
127,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,19,4,516,419,24,3,5,28,4

### `Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [66]:
df['Rank']=df['Team'].rank(method='first')
df['Rank'].astype(np.int16)

0       95
1       39
2       42
3       60
4      101
      ...
123     79
124     35
125     80
126      7
127     53
Name: Rank, Length: 128, dtype: int16

In [67]:
df

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Rank
0,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0,95.0
1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1,39.0
2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0,42.0
3,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,14,2,232,156,11,3,0,10,1,60.0
4,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,13,2,391,326,22,8,6,14,0,101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,11,3,583,518,22,1,3,15,0,79.0
124,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,13,2,491,430,21,3,6,13,0,35.0
125,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,11,2,494,428,20,5,3,15,0,80.0
126,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,26,4,648,544,20,4,6,22,5,7.0
127,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,19,4,516,419,24,3,5,28,4,53.0

In [68]:
df.set_index('Rank',inplace=True)

In [69]:
df.sort_index()

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
Rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1.0,Argentina,Saudi Arabia,C,1,51,1,0,0,14,6,6,10,4,12,4,5,8,18,91,27,195,127,10,8,0,7,10,593,525,36,15,9,21,1
2.0,Argentina,Mexico,C,2,50,1,1,2,5,2,3,2,3,10,6,2,4,12,89,2,150,100,10,5,1,15,2,533,464,14,2,4,23,0
3.0,Argentina,Poland,C,2,67,1,1,2,25,13,8,10,15,25,8,7,10,26,150,36,141,126,20,16,1,11,0,862,814,22,5,9,5,0
4.0,Argentina,Australia,C,2,53,2,0,1,14,5,7,11,3,15,6,11,2,17,127,8,181,135,16,8,0,8,4,711,635,6,1,1,15,0
5.0,Argentina,Netherlands,C,2,44,2,0,1,15,6,8,5,10,7,7,13,6,17,104,7,203,122,24,8,8,18,2,603,511,16,4,8,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124.0,Uruguay,Portugal,H,0,35,0,0,0,10,3,6,6,4,13,8,4,5,9,94,6,150,86,17,11,2,16,0,390,306,18,5,2,13,0
125.0,Uruguay,Ghana,H,2,39,2,0,1,12,7,5,7,5,7,2,13,3,17,186,14,186,124,24,14,3,11,2,446,361,15,4,2,20,0
126.0,Wales,United States,B,1,39,1,0,0,7,3,3,5,2,7,2,5,2,7,73,9,174,103,17,8,2,10,1,409,321,15,6,3,15,1
127.0,Wales,Iran,B,0,51,0,0,0,10,3,4,5,5,18,3,8,11,13,101,13,208,129,17,8,1,9,2,508,413,20,5,2,12,0
128.0,Wales,England,B,0,33,0,0,0,7,1,3,1,6,7,1,2,0,4,46,1,104,55,4,1,2,16,1,325,261,4,1,1,10,0

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before: 
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [87]:
titanic_df1 = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv")
titanic_df2 = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv")

In [88]:
titanic_df1.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [89]:
len(titanic_df1[titanic_df1['Age'].isna()])

177

In [90]:
titanic_df1.dropna(subset=['Age'],inplace=True)

In [91]:
titanic_df2['Age']=titanic_df2['Age'].fillna(20)

In [92]:
titanic_df2

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,20.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,20.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,20.0,1,1,2668,22.3583,NaN,C

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

### `Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [93]:
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"
matches = pd.read_csv(ipl_matches)
changed_name={
    "Delhi Daredevils":"Delhi Capitals",
    "Kings XI Punjab":"Punjab Kings",
    "Rising Pune Supergiants":"Rising Pune Supergiant"
}

In [94]:
changed_name.keys()

dict_keys(['Delhi Daredevils', 'Kings XI Punjab', 'Rising Pune Supergiants'])

In [95]:
matches.replace(changed_name.keys(),changed_name.values(),inplace=True)

In [98]:
matches.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [117]:
df=matches[~matches.WinningTeam.isna()]
new_df=pd.DataFrame()
teams=df['Team1'].unique()
data = []

for team in teams:
    played=df[(df['Team1']==team) | (df['Team2']==team)].shape[0]
    wins=df[df['WinningTeam']==team].shape[0]
    home_win=df[(df['WinningTeam']==team) & (df['Team1']==team)].shape[0] / df[df['Team1']==team].shape[0]*100
    away_win=df[(df['WinningTeam']==team) & (df['Team2']==team)].shape[0] / df[df['Team2']==team].shape[0]*100
    data.append([team, played, wins/played*100, home_win, away_win])

#Team Name, Matches Played, Win%, Home Win%, Away Win%
new_df[["Team", "Matches Played", "Win Percentage", "Home Win Percentage", "Away Win Percentage"]] = data
new_df.sort_values('Win Percentage',ascending=False,inplace=True)
new_df

,Team,Matches Played,Win Percentage,Home Win Percentage,Away Win Percentage
5,Gujarat Titans,16,75.0,57.142857,88.888889
6,Lucknow Super Giants,15,60.0,87.5,28.571429
4,Chennai Super Kings,208,58.173077,58.558559,57.731959
9,Mumbai Indians,231,56.709957,58.035714,55.462185
7,Kolkata Knight Riders,223,51.121076,53.333333,49.152542
0,Rajasthan Royals,190,50.526316,55.05618,46.534653
10,Rising Pune Supergiant,30,50.0,50.0,50.0
2,Sunrisers Hyderabad,152,49.342105,52.173913,46.987952
1,Royal Challengers Bangalore,223,48.878924,49.593496,48.0
3,Delhi Capitals,222,46.396396,46.902655,45.87156
8,Punjab Kings,218,46.330275,45.454545,47.222222
11,Gujarat Lions,30,43.333333,31.25,57.142857
14,Kochi Tuskers Kerala,14,42.857143,42.857143,42.857143
13,Deccan Chargers,75,38.666667,33.333333,44.444444
12,Pune Warriors,45,26.666667,26.086957,27.272727

### `Q-7:` Venues with most "no result" matches.

In [126]:
matches[matches['WonBy']=='NoResults'].Venue.value_counts().index[0]

'M Chinnaswamy Stadium'

### `Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [158]:
df_final=df[df['MatchNumber']=='Final']
playerSeries = pd.Series()

def getPlayers(l):
    #print(list(map(lambda x:x.strip("'"),l.lstrip("'[").lstrip("]'").strip(', '))))
    #list(map( lambda x: x.strip("'"), l.lstrip("'[").rstrip("]'").split(", ")))
    return pd.Series(list(map(lambda x:x.strip("'"),l.lstrip("'[").lstrip("]'").split(', '))))

for player_list in df_final['Team1Players']:
    x=getPlayers(player_list)
    playerSeries = playerSeries.append(x)
    #print(playerSeries)
    #map( lambda x: x.strip("'"), l.lstrip("'[").rstrip("]'").split(", "))
    #print(map(lambda x:x.strip("'"),player_list.strip("'").lstrip("'[").rstrip("]'").strip(',')))

for player_list in df_final.Team2Players:
    x = getPlayers(player_list)
    playerSeries = playerSeries.append(x)

print(playerSeries.value_counts().head())

MS Dhoni     10
SK Raina      8
RA Jadeja     7
AT Rayudu     7
R Ashwin      7
dtype: int64

C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  playerSeries = pd.Series()
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:11: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)
C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\661137284.py:18: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  playerSeries = playerSeries.append(x)

### `Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits; 
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points
				
Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [180]:
def matches_played(df,team):
    #print(df[(df['Team1']==team) | (df['Team2']==team)].shape)
    return df[(df['Team1']==team) | (df['Team2']==team)].shape[0]

def matches_won(df,team):
    return df[df['WinningTeam']==team].shape[0]

def matches_no_result(df,team):
    return df[((df['Team1']==team) | (df['Team2']==team)) & (df['WinningTeam'].isna())].shape[0]

def point_table(season):
    df=matches[matches['Season']==season]
    new_df = pd.DataFrame()
    
    new_df['Team Name']=df['Team1'].unique()
    new_df['MatchesPlayed']=new_df['Team Name'].apply(lambda x:matches_played(df,x))
    new_df['MatchesWon']=new_df['Team Name'].apply(lambda x:matches_won(df,x))
    new_df['NoResult']=new_df['Team Name'].apply(lambda x:matches_no_result(df,x))
    new_df['Points']=new_df['MatchesWon']*2+new_df['NoResult']
    new_df.sort_values('Points',ascending=False,inplace=True)
    new_df.set_index('Team Name',inplace=True)
    
    return new_df
    
point_table('2022')

                             MatchesPlayed  MatchesWon  NoResult  Points
Team Name
Gujarat Titans                          16          12         0      24
Rajasthan Royals                        17          10         0      20
Royal Challengers Bangalore             16           9         0      18
Lucknow Super Giants                    15           9         0      18
Delhi Capitals                          14           7         0      14
Punjab Kings                            14           7         0      14
Sunrisers Hyderabad                     14           6         0      12
Kolkata Knight Riders                   14           6         0      12
Chennai Super Kings                     14           4         0       8
Mumbai Indians                          14           4         0       8

### `Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition
				
Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [189]:
def point_table_extension(season):
    df3 = point_table(season)
    df=matches[matches['Season']==season].copy()
    df3["SeasonPosition"]=df3['Points'].rank(ascending=False,method='first').astype('object')
    #df['LoosingTeam']=df[df['WinningTeam']==df['Team1']]['Team2'].append(df['WinningTeam']==df['Team1'])
    df['LoosingTeam']=df[df.WinningTeam == df.Team1]["Team2"].append(df[df.WinningTeam == df.Team2]["Team1"])
    final=df[df['MatchNumber']=='Final']
    wining_team=final['WinningTeam'].values[0]
    runner=final['LoosingTeam'].values[0]
    
    df3.at[wining_team, "SeasonPosition"]="Winner"
    df3.at[runner, "SeasonPosition"]="Runner"
    
    q=df[df['MatchNumber']=='Qualifier 2']
    e=df[df['MatchNumber']=='Eliminator']
    third=q['LoosingTeam'].values[0]
    fourth=e['LoosingTeam'].values[0]
    
    df3.at[third, "SeasonPosition"]="Third"
    df3.at[fourth, "SeasonPosition"]="Fourth"
    return df3
    

    
point_table_extension('2022')

C:\Users\khadarbasha\AppData\Local\Temp\ipykernel_340\3713185563.py:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df['LoosingTeam']=df[df.WinningTeam == df.Team1]["Team2"].append(df[df.WinningTeam == df.Team2]["Team1"])

,MatchesPlayed,MatchesWon,NoResult,Points,SeasonPosition
Team Name,,,,,
Gujarat Titans,16,12,0,24,Winner
Rajasthan Royals,17,10,0,20,Runner
Royal Challengers Bangalore,16,9,0,18,Third
Lucknow Super Giants,15,9,0,18,Fourth
Delhi Capitals,14,7,0,14,5.0
Punjab Kings,14,7,0,14,6.0
Sunrisers Hyderabad,14,6,0,12,7.0
Kolkata Knight Riders,14,6,0,12,8.0
Chennai Super Kings,14,4,0,8,9.0
Mumbai Indians,14,4,0,8,10.0